html,body{
    margin: 0;
    padding: 0;
}
#display-canvas{
    display: flex;
    flex-direction: column;
    height: 100vh;
    max-height: 100vh;
    background: #323339
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
header{
    height: 10vh;
    justify-content: center;
}
h1{
    color: #b5b768;;
    font-size: clamp(10px,7vh,40px);
}
#game-of-life{
    margin: 1vh 0;
}
#Board{
    min-width: 0;
    max-width: 90%;
    max-height: 71vh;
}
footer{
    height: 17vh;
    justify-content: flex-end;
    background: #40425b;
    position:  relative;
}
footer p{
    position: absolute;
    margin: 0;
    top: 0;
    font-size: 3vh;
    min-height: 0;
}
#container-2{
    display: flex;
    justify-content: center;
    height: 100%;
    width: 90%;
}
.btn-container{
    display: flex;
    position: absolute;
    bottom: 0;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin-bottom: 1vh;
    gap:4vh
}
#vel-dial{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#vel-dial span{
    font-size: max(12px, 3.5vh);
}
button{
    display: flex;
    border: 0;
    border-radius: 42%;
    background: transparent;
}
button:hover{
    background: #d9e1de29
}
button img,svg{
    height: clamp(20px,11vh,60px);
    width: clamp(20px,11vh,8vw);
}